#wrapper{
    min-width: 780px;
    padding: 20px;
    margin: 30px;
}
img{
    width: 190px;
    border: 1px solid black;
}
form{
    padding: 10px;
}
.info{
    padding: 6px;
}
.box{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.info2{
    max-width: 400px;
    border: 2px solid darkcyan;
    padding: 25px;
    margin: 10px;
}
h1{
    color: mediumslateblue;
}
h3{
    color: rgb(10, 114, 114);
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: rgb(38, 38, 218);
    color: white;
}