<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">

	<title>Survey Form</title>
</head>
<body>
	<div id="wrapper">
		<h1>Submitted Information</h1>
		<ul>
			<li><strong>Name: </strong><%= userData.name %></li>
			<li><strong>Dojo Location: </strong><%= userData.location %></li>
			<li><strong>Favorite Language: </strong><%= userData.favLanguage %></li>
			<li><strong>Comment: </strong><%= userData.comment %></li>
		</ul>
		<a href="/"><h3>Back</h3></a>
	</div>
</body>
</html>